parameters:
    level: max
    paths:
        - src/
        - infrastructures/
    excludePaths:
        - src/Object/Account/Active.php
        - src/Object/Account/Inactive.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#DefaultsBag\|null given#'
            path: infrastructures/Kubernetes/
        -
            message: '#non-native method stdClass::#'
            path: infrastructures/PhpSecLib/Security/Encryption.php
        -
            message: '#Cannot call method decrypt#'
            path: infrastructures/Symfony/Components/Messenger/Handler/Psr11
        -
            message: '#Cannot cast iterable#'
            path: infrastructures/ProjectBuilding/
        -
            message: '#Possibly invalid array key type mixe#'
            path:   infrastructures/ProjectBuilding/AbstractHook.php
        -
            message: '#Cannot cast array#'
            path: infrastructures/ProjectBuilding/AbstractHook.php
        -
            message: '#mixed#'
            path: infrastructures/Kubernetes/
        -
            message: '#::getVersion\(\) expects#'
            path: infrastructures/Kubernetes/Transcriber/
        -
            message: '#mixed given#'
            path: infrastructures/Doctrine/Form/Type/AccountType.php
        -
            message: '#expects callable\(string\): string, Closure\(\): mixed given#'
            path: infrastructures/PhpSecLib/Security/Encryption.php
        -
            message: '#mixed given#'
            path: infrastructures/Symfony/Components/Form/Type/
        -
            message: "#Cannot access offset 'readonly' on mixed#"
            path: infrastructures/Symfony/Components/Form/Type/ClusterType.php
        -
            message: "#Cannot access an offset on mixed#"
            path: infrastructures/Symfony/Components/Form/Type/ClusterType.php
        -
            message: "#allowEditingOfLocked in empty#"
            path: infrastructures/Symfony/Components/Form/Type/ClusterType.php
        -
            message: '#cast mixed to#'
            path: infrastructures/Symfony/Components/Form/Type/
        -
            message: '#ClassFinderDenormalizer::denormalize#'
            path: infrastructures/Symfony/Components/Normalizer/ClassFinderDenormalizer.php
        -
            message: '#Parameter \&\$array by-ref type#'
            path: infrastructures/Symfony/Components/Configuration/PropertyAccessor.php
        -
            message: '#mixed#'
            path: src/Job/JobUnit.php
        -
            message: '#Cannot access offset#'
            path:  src/Compilation/Conductor.php
        -
            message: '#mixed#' #array validated by validation schema
            path:  src/Compilation/
        -
            message: '#always true#' #false positive
            path:  src/Compilation/Compiler/Quota/MemoryAvailability.php
        -
            message: '#is unused#'
            path:  src/Object/
        -
            message: '#is never read, only written.#'
            path:  src/Object/Cluster.php
        -
            message: '#Cannot call method [a-zA-Z]+\(\) on [a-zA-Z\\]+\|null#'
            path:  src/Object/Job.php
        -
            message: '# does not accept iterable#'
            path:  src/Object/Job.php
        -
            message: '#Cannot call method [a-zA-Z]+\(\) on [a-zA-Z\\]+\|null#'
            path:  src/Object/Project.php
        -
            message: '#[a-zA-Z\\]+\|null given#'
            path:  src/Object/Project.php
        -
            message: '#Cannot access property \$message#'
            path:  src/Parser/YamlValidator.php
        -
            message: '#mixed#'
            path:  */di.php
        -
            message: '#Parameter \#6 \$compilers#'
            path:  src/di.php
        -   '#[a-zA-Z\\]+ but returns [a-zA-Z\\]+\|null#'
