parameters:
    scopeClass: Teknoo\States\PHPStan\Analyser\Scope
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#Method [a-zA-Z0-9\\_]+::denormalize|normalize\(\) return type has no value type specified in iterable type array.#'
            path: infrastructures/Symfony/Components/Normalizer
        -
            message: '#Parameter \#1 \$imagesLibrary of method [a-zA-Z0-9\\_]+::compileImages\(\) expects#'
            path: src/Conductor/Conductor/Running.php
        -
            message: '#Cannot access an offset on iterable#'
            path: src/Object/Job/Pending.php
        -
            message: '#Cannot call method [a-zA-Z]+\(\) on [a-zA-Z0-9\\_]+\|null.#'
            path: src/Object/Job/Terminated.php
        -
            message: '#Cannot call method canIPrepareNewJob\(\) on [a-zA-Z0-9\\_]+\|null.#'
            path: src/Object/Project/Executable.php
        -
            message: '#Parameter \#1 \$repository of method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) expects [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+\|null given#'
            path: src/Object/Project/Executable.php
        -
            message: '#Anonymous function should return [a-zA-Z0-9\\_]+ but returns [a-zA-Z0-9\\_]+\|null#'
            path: infrastructures/Flysystem/Workspace/Running.php
        -
            message: '#Anonymous function should return [a-zA-Z0-9\\_]+ but returns [a-zA-Z0-9\\_]+\|null#'
            path: infrastructures/Git/CloningAgent/Running.php
        -
            message: '#Anonymous function should return [a-zA-Z0-9\\_]+ but returns [a-zA-Z0-9\\_]+\|null#'
            path: infrastructures/Git/Hook/Running.php
        -
            message: '#Method [a-zA-Z0-9\\_]+::prepareJob\(\) invoked with 3 parameters, 2 required#'
            path: src/Recipe/Step/Job/PrepareJob.php
        -
            message: '#Parameter \#2 \$new of method [a-zA-Z0-9\\_]+::updateBuildable\(\) expects [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+ given#'
            path: infrastructures/BuildKit/BuilderWrapper.php
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z]+\(\)#'
            path: infrastructures/BuildKit/BuilderWrapper.php
services:
	-
		class: Teknoo\States\PHPStan\MethodsClassExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension