parameters:
    ignoreErrors:
        -
            message: '#\$gitWrapper \(Symplify\\GitWrapper\\GitWrapper\) in empty#'
            path: infrastructures/
        -
            message: '#Anonymous function should return [a-zA-Z\\]+ but returns [a-zA-Z\\]+\|null#'
            path: infrastructures/
        -
            message: '#uninitialized readonly property#'
            path: infrastructures/
        -
            message: '#mixed#'
            path: infrastructures/BuildKit/di.php
        -
            message: '#Cannot access an offset on mixed#'
            path: infrastructures/Kubernetes/Transcriber/ReplicationControllerTranscriber.php
        -
            message: '#SecretTranscriber::encode#'
            path: infrastructures/Kubernetes/Transcriber/SecretTranscriber.php
        -
            message: '#mixed given#'
            path: infrastructures/Doctrine/Form/Type/AccountType.php
        -
            message: '# expects array<string, mixed>\|null, mixed given#'
            path: infrastructures/Symfony/Components/Configuration/YamlParser.php
        -
            message: '#mixed given#'
            path: infrastructures/Symfony/Components/Form/Type/
        -
            message: '#cast mixed to#'
            path: infrastructures/Symfony/Components/Form/Type/
        -
            message: '#ClassFinderDenormalizer::denormalize#'
            path: infrastructures/Symfony/Components/Normalizer/ClassFinderDenormalizer.php
        -
            message: '# expects array<string, mixed>\|null, array\|ArrayObject\|bool\|float\|int\|string\|null given#'
            path: infrastructures/Symfony/Components/Serializing/Normalizer.php
        -
            message: '#mixed#' #array validated by validation schema
            path:  src/Compilation/
        -
            message: '#version is never read, only written#'
            path:  src/Compilation/CompiledDeployment.php
        -
            message: '#project is never read, only written#'
            path:  src/Object/Cluster.php
        -
            message: '#Cannot call method [a-zA-Z]+\(\) on [a-zA-Z\\]+\|null#'
            path:  src/Object/Job.php
        -
            message: '#RuntimeException constructor expects int, mixed given#'
            path:  src/Object/Job.php
        -
            message: '#Cannot access an offset on iterable#'
            path:  src/Object/Job.php
        -
            message: '#Cannot call method [a-zA-Z]+\(\) on [a-zA-Z\\]+\|null#'
            path:  src/Object/Project.php
        -
            message: '#[a-zA-Z\\]+\|null given#'
            path:  src/Object/Project.php
        -
            message: '#prepareJob\(\) invoked with 3 parameters, 2 required#'
            path:  src/Recipe/Step/Job/PrepareJob.php
        -
            message: '#\$message on LibXMLError\|false#'
            path:  src/Parser/YamlValidator.php
        -
            message: '#mixed#'
            path:  */di.php

services:
    -
        class: Teknoo\States\PHPStan\MethodsClassExtension
        arguments:
            parser: @defaultAnalysisParser
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: Teknoo\States\PHPStan\Analyser\ASTVisitor
        arguments:
            parser: @defaultAnalysisParser

    -
        class: Teknoo\States\PHPStan\Analyser\NodeScopeResolver
        autowired: PHPStan\Analyser\NodeScopeResolver
        arguments:
            parser: @defaultAnalysisParser
            reflector: @nodeScopeResolverReflector
            polluteScopeWithLoopInitialAssignments: %polluteScopeWithLoopInitialAssignments%
            polluteScopeWithAlwaysIterableForeach: %polluteScopeWithAlwaysIterableForeach%
            earlyTerminatingMethodCalls: %earlyTerminatingMethodCalls%
            earlyTerminatingFunctionCalls: %earlyTerminatingFunctionCalls%
            implicitThrows: %exceptions.implicitThrows%
