#!/usr/bin/env sh

set -e

cd {% imagePath %}

echo "$PAAS_REGISTRY_PWD" | {% binary %} login --username=$PAAS_REGISTRY_USER --password-stdin $PAAS_REGISTRY_HOST

export DOCKER_CLI_EXPERIMENTAL=enabled

{% binary %} buildx use $PAAS_BUILDKIT_BUILDER_NAME

echo "$PAAS_DOCKERFILE_CONTENT" | {% binary %} buildx build --no-cache --platform $PAAS_BUILDKIT_PLATFORM --force-rm --rm -t {% imageName %} --push -f- .
